body{
    width: 100%;
    height: 100vh;
}
.mainsection-fluid{
    border-left: 20px solid gray;
    border-right: 20px solid gray;
}

.container-fluid{
  
    width: 100%;
 padding: none;
   
}
.row{
    padding: none;
}
.box1{
    padding: none;
   
}

.container h4{
    font-family: sans-serif;
    font-size: 23px;
    color: rgb(103, 13, 13);
   
}
.container h1{
    font-size: 47px;
     word-wrap: break-word;
}
.container h3{
    font-size: 20px;
}
.img-fluid{
  
    margin-left: -12px;
}
.container hr{
    height: 3px;
    background-color: black;
    width: 80%;
}
.mynavbar{
    border: none;
    background-color: rgb(101, 13, 13);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
   
}

.img1{
    width: 100%;
    margin-left: 0;
}
.second{
   background: url(form_bg.jpg);
   background-repeat: no-repeat;
background-size: cover;

}
.heading{
  
    height: 50px;
    width: 40%;
    margin-left: -10px;
    background-color: rgb(101, 13, 13) ;
}

.Question{
   color: white;
  align-items: start;
  height: 50px;
 
   background-color: rgb(101, 13, 13);
}
 .textsection{
    font-size: 20px;
 }
 .span{
    color: blue;
 }
.paragraph{
    margin-left: 40px;
    font-size: 0px;
}
.name{
    display: flex;
    height: 50px;
}
.img2{
    transform: rotate(15deg);
 
}

.mypara{
    margin-left: 0px;
}
 .mybutton{
background-color: #bb0406;
border: none;
color: white;
font-size: 20px;
 }
.bulletimg{
    margin-left: 10px;
    height: 15px;
}
.chargheading{
    font-size: 30px;
}
.chargheading span{
    color: #bb0406;
}
.chargheading2{
    font-size: 22px;
    color: #bb0406;
}
.firstpara{
    font-size:16px ;
}
.secondpara{
    font-size: 16px;
}
.bordimg{
    margin-left: 10px;
    
}
.bordbutton{
  
 
  
}
.bordbutton hr{
    margin-top: -5px;
      width: 50%;
    height: 2px;
    border: none;
    background-color:black;
    margin-left: 120px;
    margin-bottom: 0;
}
.bordbutton button{
    background-color: #bb0406;
    color: white;
    border: none;
    box-shadow: 4px 4px 10px black;
    margin-left: 180px;
    margin-top: 0;
    margin-bottom: 30px;
}
.law1 h1{
    font-size: 30px;
}
.law1 span{
    color: #bb0406;
}
.law1 hr{
    margin-top: -5px;
      width: 85%;
    height: 2px;
    border: none;
    background-color:black;
   
    margin-bottom: 0;
}
.law1 button{
    background-color: #bb0406;
    color: white;
    border: none;
    box-shadow: 4px 4px 10px black;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 30px;
}
