body{
    width: 100%;
    height: 100vh;
}
.mainsection-fluid{
    border-left: 20px solid gray;
    border-right: 20px solid gray;
}

.container-fluid{
  
    width: 100%;
 padding: none;
   
}
.row{
    padding: none;
}
.box1{
    padding: none;
   
}


.container h4{
    font-family: sans-serif;
    font-size: 23px;
    color: rgb(103, 13, 13);
   
}
.container h1{
    font-size: 47px;
     word-wrap: break-word;
}
.container h3{
    font-size: 20px;
}
.img-fluid{
  
    margin-left: -12px;
}
.container hr{
    height: 3px;
    background-color: black;
    width: 80%;
}
.mynavbar{
    border: none;
    background-color: rgb(101, 13, 13);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
   
}

.img1{
    width: 100%;
    margin-left: 0;
     box-shadow: 0px 2px 10px black;
}
.second{
   background: url(form_bg.jpg);
   background-repeat: no-repeat;
background-size: cover;
  box-shadow: 0px 2px 10px black;
}
.heading{
  
    height: 50px;
    width: 40%;
    margin-left: -10px;
    background-color: rgb(101, 13, 13) ;
}

.Question{
   color: white;
  align-items: start;
  height: 50px;
 
   background-color: rgb(101, 13, 13);
}
 .textsection{
    font-size: 15px;
 }
 .span{
    color: rgb(19, 19, 237);
 }
.paragraph{
    margin-left: 40px;
    font-size: 0px;
}
.name{
    display: flex;
    height: 50px;
}
.img2{
    transform: rotate(15deg);
 
}

.mypara{
    margin-left: 0px;
}
 .mybutton{
background-color: #bb0406;
border: none;
color: white;
font-size: 20px;
 }
.bulletimg{
    margin-left: 10px;
    height: 15px;
}
.chargheading{
    font-size: 30px;
}
.chargheading span{
    color: #bb0406;
}
.chargheading2{
    font-size: 22px;
    color: #bb0406;
}
.firstpara{
    font-size:16px ;
}
.secondpara{
    font-size: 16px;
}
.bordimg{
    margin-left: 10px;
    
}

.bordbutton hr{
    margin-top: -5px;
      width: 50%;
    height: 2px;
    border: none;
    background-color:black;
    margin-left: 120px;
    margin-bottom: 0;
}
.bordbutton button{
    background-color: #bb0406;
    color: white;
    border: none;
    box-shadow: 4px 4px 10px black;
    margin-left: 180px;
    margin-top: 0;
    margin-bottom: 30px;
}
.lawmain{
    border-left: 2px solid #bababa;
    border-right: 2px solid #bababa;
}
.MAIN{
    border-bottom: 2px solid #bababa;
}
.law1 h1{
    font-size: 30px;
}
.law1 span{
    color: #bb0406;
}
.law1 hr{
    margin-top: -5px;
      width: 85%;
    height: 2px;
    border: none;
    background-color:black;
   
    margin-bottom: 0;
}
.law1 button{
    background-color: #bb0406;
    color: white;
    border: none;
    box-shadow: 4px 4px 10px black;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 30px;
}
.case h1{
    font-size: 27px;
}
.case span{
    color: #bb0406;
}
.case p{
    font-size: 14px;
}
.case hr{
    margin-top: -5px;
      width: 85%;
    height: 2px;
    border: none;
    background-color:black;
   
    margin-bottom: 0;
}
.case button{
    background-color: #bb0406;
    color: white;
    border: none;
    box-shadow: 4px 4px 10px black;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 30px;
}

.certificate h1{
    font-size: 27px;
}
.certificate span{
    color: #bb0406;
}
.certificate p{
    font-size: 17px;
    line-height: 20px;
}
.certificate hr{
    margin-top: -5px;
      width: 50%;
    height: 2px;
    border: none;
    background-color:black;
   margin-left: auto;
   margin-right: auto;
    margin-bottom: 0;
}
.certificate button{
    background-color: #bb0406;
    color: white;
    border: none;
    box-shadow: 4px 4px 10px black;
    margin-left: 150px;
  
    margin-top: 0;
    margin-bottom: 30px;
}
.rightdiv h1{
    font-size: clamp(15px,3vw,30px);
    font-family: 'Times New Roman', Times, serif;

}
.rightdiv span{
    color: #BB0406;
}

.bigbutton{
    height: 80px;

}


.bigbtnimg img{
    width:100% ;
}

.duibtn{
    background-color: gray;
}
.dui1 h1{
    font-size: clamp(20px,3vw,20px);
    color: white;
}
.dui2{
    padding-top: 20px;
    padding-right: 10px;
}
.dui2 p{
    font-size: clamp(15px,3vw,18px);
    color: white;

}
.redimg{
    margin-left: 5px;
    margin-top: 7px;
    height: 15px;
}

.shadowimg{
    width: 100%;
      margin-top:-15px;
}
.midlediv h1{
 font-size: 30px;
}
.midlediv span{
    color: #bb0406;
}
.menudiv{
   
    text-align: end;
    margin-top: 70px;
}
.menudiv h1{
    font-size: 25px;
    color: #9e9b9b;
    line-height: 40px;
}

.secondend h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.clientdiv{
  
    padding-bottom: 0;
    margin-bottom: 4px;
    height: auto;
  
  
}
.clientdiv h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}
.clientdiv span{
    color: #bb0406;
    font-family: 'Times New Roman', Times, serif;
}
.clientdiv p{
    font-size: 20px;
    font-weight: 450;
   
}
.clientdiv hr{
    height: 2px;
    border: none;
    background-color: #303030;
    margin-bottom: 0;
    
}
.clientdiv button{
    background-color: #bb0406;
    color: white;
    border: none;
    box-shadow: 4px 4px 10px black;
    margin-left: 100px;
  margin-top: 0;
  margin-bottom: 0;
  
    
}
.loaddiv{
    margin-top: 0;
}
.loaddiv  h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}
.loaddiv  span{
    color: #bb0406;
    font-family: 'Times New Roman', Times, serif;
}
.loaddiv  p{
    font-size: 20px;
    font-weight: 450;
   
}
.loaddiv hr{
    height: 2px;
    border: none;
    background-color: #303030;
    margin-bottom: 0;
    
}
.loaddiv button{
    background-color: #bb0406;
    color: white;
    border: none;
    box-shadow: 4px 4px 10px black;
    margin-left: 100px;
  margin-top: 0;
 
    
}
.contactdiv  h1{
  
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}
.contactdiv  span{
    color: #bb0406;
    font-family: 'Times New Roman', Times, serif;
}
.contactdiv  p{
    font-size: 20px;
    font-weight: 450;
   
}
.contactdiv hr{
    height: 2px;
    border: none;
    background-color: #303030;
    margin-bottom: 0;
    
}
.contactdiv button{
    background-color: #bb0406;
    color: white;
    border: none;
    box-shadow: 4px 4px 10px black;
    margin-left: 100px;
  margin-top: 0;
 
    
}
.leftend2{
  margin-bottom: 50px;
}
.leftend2 h1{
font-size: 35px;
margin-bottom: 0;
}
.leftend2 hr{
    height: 2px;
    border: none;
    margin-top: 0;
    margin-bottom: o;
    background-color: #3b3b3b;
}
.lastshadow img{
    width: 80%;
 margin-top: -16px;
}
.colordiv{
    height: 10px;
    background-color: #bb0406;
    background: linear-gradient(red, black);
}